.auth-page-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 85px);


    .left-column {
        background-size: cover;
    }

    .right-column {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $darkfont;
    }
    .auth-form {
        @include input-element();
        padding-bottom: 21px;
    }
    .form-input {
        display: flex;

        svg {
            font-size: 1em;
            margin-right: 15px;
        }
    }
    .btn {
        color: inherit;
        background-color: inherit;
        width: 100%;
        transition: .9s ease-in-out;

        &:hover {
            background-color: $lightbackground;
        }

    }
}