body {
    margin: 0px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.75em;
    background-color: $blue;
    color: $pink;

    img {
        width: 275px;
        height: 275px;
    }
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}