body {
    margin: 0px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.75em;
    background-color: $background;
    color: $main-font;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100vw;
}

.page-info-wrapper {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}