.homepage-wrapper {
    display: grid;
    grid-template-columns: 1fr;

    .filter-links {
        display: flex;
        justify-content: center;

        .btn {
            width: 100%;
            color: $lightbackground;
            background-color: $darkfont;
            transition: .8s ease-in-out;

            &:hover {
                background-color: $background;
                color: $darkfont;
            }
        }
    }
}