html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'montserrat';
}

body {
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
    text-align: center;
    font-size: 1.75em;
    background-color: black;
    color: rgb(255, 80, 177);
}

button {
    background-color: rgb(255, 80, 177);
    border-radius: 2px;
    border: 2px solid black;
}

button:hover {
    background-color: white;
}

.app {
    margin-top: 2rem;
    display: grid;
    justify-items: center;
}

a {
    text-decoration: none;
    color: rgb(255, 80, 177);
}
