@mixin base-btn {
    cursor: pointer;
    height: 42px;
    font-size: .75em;
    font-weight: 400;
    border: 1px solid transparent;
    border-right: 2px solid $purple;
    transition: all 0.5s ease-in-out;
    background-color: $darkblue;
    color: inherit;

    &:active, &focus {
        outline: none;
    }

    &:hover {
        font-size: .85em;
        background-color: $purple;
    }
}