@mixin base-btn {
    cursor: pointer;
    height: 42px;
    font-size: .75em;
    font-weight: 400;
    border: 0px;
    transition: all 0.5s ease-in-out;
    background-color: $darkfont;
    color: inherit;

    &:active, &focus {
        outline: none;
    }

    &:hover {
        font-size: .85em;
        background-color: $lightbackground;
    }
}

@mixin input-element {
    input {
        font-family: 'Cormorant Garamond', serif;
        color: inherit;
        padding: 5px 0px;
        width: 100%;
        border: 0px;
        border-bottom: 1px solid $lightbackground;
        background-color: inherit;
        transition: .5s all ease-in-out;
        font-size: .8em;
        font-weight: 700;
        margin-bottom: 21px;

        &:focus {
            outline: none;
            border-bottom: 1px solid $main-font;
        }
    }
}