.nav-wrapper {
    display: flex;
    justify-content: space-around;
    padding-top: 32px;
    height: 52px;
    border-bottom: 1px solid transparent;
    align-items: center;

    .nav-link-active {
        border-bottom: 3px solid $pink;
    }

    .left-side {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 25px;
    }



    a {
        text-decoration: none;
        color: $pink;
        transition: 0.5s ease-in-out;
        border-bottom: 3px transparent;
        border-radius: 3px;
    }

    a:hover {
        border-bottom: 3px solid $pink;
    }
}

